node_modules
.next
.swc
.git
.gitignore
npm-debug.log
.env.local
.env.local.example
*.log
coverage
__mocks__
jest.config.js
jest.config.ts.bak
jest.setup.ts
tsconfig.tsbuildinfo
Dockerfile
.dockerignore
prototypes
scripts
