NEXT_PUBLIC_SUPABASE_URL=https://tfjsnewrtgrpehsoutof.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=sb_publishable_D338gaE_De_T8gS93aET8Q_d_Yki0r7
NEXT_PUBLIC_FIREBASE_API_KEY=AIzaSyCJ9D4hBzeI7wtR54QtelNKLb8RWqRaCKY
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=tentativa1-f5d37.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=tentativa1-f5d37
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=tentativa1-f5d37.firebasestorage.app
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=85831557591
NEXT_PUBLIC_FIREBASE_APP_ID=1:85831557591:web:bbc81864a9e3b140e2ab92
NEXT_PUBLIC_FIREBASE_MEASUREMENT_ID=G-2X8D4PY2T4